In [1]:
import yfinance as yf
from datetime import datetime, timedelta
import pandas as pd
import os

In [2]:
CURRENCY_TICKERS = {
    "USD": "USDINR=X",
    "EUR": "EURINR=X",
    "JPY": "JPYINR=X",
    "GBP": "GBPINR=X",
}

In [3]:
OUTPUT_PATH = "../data/currency_data.csv"

In [4]:
end_date = datetime.today()
start_date = end_date - timedelta(days = 365)

In [5]:
os.makedirs(os.path.dirname(OUTPUT_PATH), exist_ok=True)

In [6]:
all_data = []
for name, ticker in CURRENCY_TICKERS.items():
    df = yf.download(ticker, start=start_date, end=end_date, progress=False)
    df = df[["Close"]].rename(columns={"Close":f"{name}_INR"}) # type: ignore
    all_data.append(df)

C:\Users\hp328\AppData\Local\Temp\ipykernel_14064\391434411.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date, progress=False)
C:\Users\hp328\AppData\Local\Temp\ipykernel_14064\391434411.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date, progress=False)
C:\Users\hp328\AppData\Local\Temp\ipykernel_14064\391434411.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date, progress=False)
C:\Users\hp328\AppData\Local\Temp\ipykernel_14064\391434411.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date, progress=False)

In [7]:
all_data[0].tail()

Price         USD_INR
Ticker       USDINR=X
Date
2025-10-21  87.879997
2025-10-22  88.001602
2025-10-23  87.740303
2025-10-24  87.778999
2025-10-27  88.212997

In [8]:
all_data[0].head()

Price         USD_INR
Ticker       USDINR=X
Date
2024-10-28  84.101997
2024-10-29  84.102798
2024-10-30  84.089302
2024-10-31  84.089104
2024-11-01  84.091499

In [9]:
merged_data = pd.concat(all_data, axis=1)
merged_data.reset_index(inplace=True)
merged_data = merged_data.astype(
    {
        "Date": str,
        "USD_INR": float,
        "EUR_INR": float,
        "JPY_INR": float,
        "GBP_INR": float,
    }
)
merged_data.to_csv(OUTPUT_PATH, index=False)